@import 'variables';

.card-course-item{
    margin-top: 16px;
}

.btn.btn-link.btn-red {
    color: red;
}

.btn-create {
    background-color: #007bff;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    text-decoration: none;
}

.checkbox-select-all-options{
    width: 300px;
    margin: 0 32px;
}

.form-control#image {
    height: 45px;
}
.show-content{
    height: 150px;
    width: auto;
    background-color: aquamarine;
}