@import 'variables';

.card-course-item{
    margin-top: 16px;
}

.btn.btn-link.btn-red {
    color: red;
}

.btn-create {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}
